<h1>General Area</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @generalarea.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.generalarea_path(@conn, :edit, @generalarea) %></span> |
<span><%= link "Back", to: Routes.generalarea_path(@conn, :index) %></span>
