
<section class="row">
  <article class="column">
    <h2 style="font-size:50px">Printers</h2>
      <p style="font-size:20px">Manage your <%= link "printers", to: Routes.printer_path(@conn, :index) %> here</p>
  </article>
  <article class="column">
    <h2 style="font-size:50px">Computers</h2>
      <p style="font-size:20px">Manage your <%= link "computers", to: Routes.computer_path(@conn, :index) %> here</p>
  </article>
</section>
